<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - Giriş</title>

    <!-- Pluto Theme CSS (Login için gerekli) -->
    <link rel="stylesheet" href="~/pluto-1.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/pluto-1.0.0/style.css" />
    <link rel="stylesheet" href="~/pluto-1.0.0/css/responsive.css" />
    <link rel="stylesheet" href="~/pluto-1.0.0/css/colors.css" />
    <link rel="stylesheet" href="~/pluto-1.0.0/css/bootstrap-select.css" />
    <link rel="stylesheet" href="~/pluto-1.0.0/css/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/pluto-1.0.0/js/semantic.min.css" />
</head>

<body class="inner_page login">
    @RenderBody()

    <script src="~/pluto-1.0.0/js/jquery.min.js"></script>
    <script src="~/pluto-1.0.0/js/popper.min.js"></script>
    <script src="~/pluto-1.0.0/js/bootstrap.min.js"></script>
    <script src="~/pluto-1.0.0/js/animate.js"></script>
    <script src="~/pluto-1.0.0/js/bootstrap-select.js"></script>
    <script src="~/pluto-1.0.0/js/perfect-scrollbar.min.js"></script>
    <script src="~/pluto-1.0.0/js/custom.js"></script>
</body>
</html>
