@using Blogy.Business.DTOs.ContactDtos
@model GetContactMessageDetailDto
@{
    Layout = "~/Views/UILayout/Index.cshtml";
}

<section class="section">
    <div class="container">
        <h2>Mesajınız Alındı</h2>

        <p><strong>Tespit edilen dil:</strong> @Model.DetectedLanguage</p>

        <div class="alert alert-info mt-3">
            <strong>AI Yanıtı:</strong> <br />
            @Model.AutoReply
        </div>
    </div>
</section>
