@using Blogy.Business.DTOs.AboutDtos
@model UpdateAboutDto
@{
    ViewData["Title"] = "About Güncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>About Güncelle</h3>

<form method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label>İçerik</label>
        <textarea asp-for="Content" class="form-control" rows="6"></textarea>
    </div>
    <br />
    <button class="btn btn-primary">Güncelle</button>
</form>
