@model List<ResultCategoryDto>

<div class="sidebar-box">
    <h3 class="heading">Kategoriler</h3>
    <ul class="categories">
        @foreach (var category in Model)
        {
            <li>
                <a href="/Blog/Category/@category.Id">
                    @category.CategoryName
                </a>
            </li>
        }
    </ul>
</div>
