@model List<ResultCategoryDto>

<div class="sidebar-box">
    <h3 class="heading">Kategoriler</h3>
    <ul class="categories">
        @foreach (var category in Model)
        {
            <li>
                <a href="/Blog/GetBlogsByCategory/@category.Id">
                    @category.Name
                    <span>(@category.Blogs.Count)</span>
                </a>
            </li>
        }
    </ul>
</div>